body {
  background-color: white;
  display: block;
  margin: 0px;
  margin-top: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

section {
  height: auto;
  margin: 0px;
}
h3 {
  transition: all 0.2s cubic-bezier(1, 1, 1, 1);
}

.box {
  text-align: center;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.2s cubic-bezier(1, 1, 1, 1);
  margin: 15px;
  text-decoration: none;
  h3 {
    font-weight: 500;
    color: rgba(63, 63, 243, 0.87);
  }

  .linksContainer {
    display: flex;
  }
  i {
    padding: 5px;
    margin: 5px;
    transition: all 0.2s cubic-bezier(1, 1, 1, 1);
  }
}

.box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4), 5px 5px 5px rgba(0, 0, 0, 0.4);
  h3 {
    font-weight: 640;
    color: rgb(4, 4, 185);
  }
  border: 2px solid blue;

  .linksContainer {
    display: flex;
    margin: 5px;
  }
  i {
    font-size: 30px;
    transition: all 0.2s cubic-bezier(1, 1, 1, 1);
  }

  i:hover {
    transform: translateY(-5px);
    color: rgb(0, 204, 255);
  }
}

.row {
  display: flex;
  justify-content: space-between;
  height: 24.5vh;
  width: auto;
  margin: 0px;
}

.row1 {
  .box {
    background-color: lightgrey;
  }
  .box:hover {
    h3 {
      border-radius: 10px;
      background: #d3d3d3;
      box-shadow: 38px 38px 77px #ababab, -38px -38px 77px #fbfbfb;
      padding: 10px;
    }
  }
}
.row2 {
  .box {
    background-color: lightblue;
  }
  .box:hover {
    h3 {
      border-radius: 10px;
      background: #add8e6;
      box-shadow: 38px 38px 77px #8cafba, -38px -38px 77px #ceffff;
      padding: 10px;
    }
  }

  #div2-2 {
    h3 {
      padding: 5px;
    }
  }
  #div2-3 {
    h3 {
      padding: 5px;
    }
  }
}
.row3 {
  .box {
    background-color: lightgreen;
  }
  .box:hover {
    h3 {
      border-radius: 10px;
      background: #90ee90;
      box-shadow: 38px 38px 77px #75c175, -38px -38px 77px #abffab;
      padding: 10px;
    }
  }
}
.row4 {
  .box {
    background-color: lightpink;
  }
  .box:hover {
    h3 {
      border-radius: 10px;
      background: #ffb6c1;
      box-shadow: 38px 38px 77px #cf939c, -38px -38px 77px #ffd9e6;
      padding: 10px;
    }
  }
}
.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 14vw;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  font-size: 18px;
  position: absolute;
  z-index: 1;
  margin-left: -11vw;
  margin-top: 5vh;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
@media only screen and (max-width: 800px) {
  .box {
    margin: 0px;
  }
  .row {
    flex-wrap: wrap;
    margin: 10px;
    height: 220px;
  }

  .row2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 10px;
    gap: 10px;
  }
  #div2-1 {
    grid-column: 1;
    grid-row: 1;
    flex-direction: row;
  }
  #div2-2 {
    grid-row: 2;
    grid-column: 1;
    flex-direction: row;
  }
  #div2-3 {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 210%;
    .linksContainer {
      i {
        // font-size: inherit;
        margin-top: 5px;
        padding-left: 10px;
      }
    }
    h3 {
      margin: 0px;
      padding: 0px;
    }
  }

  .row3 {
    display: flex;
    flex-direction: row;
    .box {
      width: 49%;
    }
  }

  .row4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 10px;
    gap: 10px;
    #div4-1 {
      grid-column: 1;
      grid-row: 1;
      flex-direction: row;
    }
    #div4-2 {
      grid-row: 2;
      grid-column: 1;
      flex-direction: row;
    }
    #div4-3 {
      grid-column: 2;
      grid-row: 1;
      flex-direction: row;
    }
    #div4-4 {
      grid-column: 2;
      grid-row: 2;
      flex-direction: row;
    }
  }

  .tooltip .tooltiptext {
    width: 200px;
    margin-left: -200px;
  }
}
